body {
  font-family: Roboto, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.profile-card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(20, 17, 17, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: min(500px, 80%);
  padding: 20px;
  text-align: center;
}

.profile-background {
  aspect-ratio: 1/1;
  box-shadow: 10px 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  font-size: 0;
  transform: scale(1.2);
  transform-origin: center right;
  width: 80%;
}

.profile-picture {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.profile-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profile-card .full-name {
  font-size: 1.5rem;
  margin: 5px 0;
  color: #333;
}

.profile-card .job-title {
  font-size: 0.9rem;
  color: #555;
  margin: 5px 0;
}

.profile-card .short-bio {
  color: #666;
  margin: 0;
}

.profile-card .details {
  color: #777;
  display: inherit;
  flex-direction: column;
  font-size: 0.9rem;
  justify-content: flex-start;
}

.profile-card .social-links a {
  display: inline-block;
  margin: 0 5px;
  color: #007BFF;
  text-decoration: none;
  font-size: 0.9rem;
}

.profile-card .social-links a:hover {
  text-decoration: underline;
}

.profile-card .current-time {
  margin-top: 20px;
  font-size: 0.75rem;
  color: #555;
}


@media screen and (max-width: 450px) {
  .profile-card {
    flex-direction: column;
  }

  .profile-background {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    height: 80%;
    transform-origin: center bottom;
  }
}